In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pygwalker as pyg

# Importing the dataset from xlsx file
df = pd.read_excel('NM student infractions 2010-2022.xlsx', sheet_name='Student Infractions')

In [2]:
df.head()

,District Name,District Code,Location Organization Type Code,School Year,Student Grade Level,Infraction Event ID,Discipline Infraction Date,Discipline Infraction Code,Discipline Infraction,Drug Related,...,Section 504 Status,R3,W1,W2,W4,W5,WD,WDO,WG,WC
0,ABQ SCHOOL OF EXCELLENCE,516,Charter,2014-06-30,8,6,2014-04-17,12,Sexual Harassment,No,...,No,N,N,N,N,N,N,N,N,N
1,ABQ SCHOOL OF EXCELLENCE,516,Charter,2014-06-30,8,4,2014-02-03,14,Bullying,No,...,No,N,N,N,N,N,N,N,N,N
2,ABQ SCHOOL OF EXCELLENCE,516,Charter,2014-06-30,8,8,2014-05-06,14,Bullying,No,...,No,N,N,N,N,N,N,N,N,N
3,ABQ SCHOOL OF EXCELLENCE,516,Charter,2014-06-30,8,3,2014-01-13,11,Other Violence - General,No,...,No,N,N,N,N,N,N,N,N,N
4,ABQ SCHOOL OF EXCELLENCE,516,Charter,2014-06-30,8,1,2013-10-04,11,Other Violence - General,No,...,No,N,N,N,N,N,N,N,N,N

In [3]:
df.columns

Index(['District Name', 'District Code', 'Location Organization Type Code',
       'School Year', 'Student Grade Level', 'Infraction Event ID',
       'Discipline Infraction Date', 'Discipline Infraction Code',
       'Discipline Infraction', 'Drug Related', 'Alcohol Related',
       'Gang Related', 'Hate Crime', 'Serious Injury', 'Criminal Charge Code',
       'Repeat Offender', 'Discipline Response Code', 'Discipline Response',
       'Discipline Response Duration', 'Admin First Name', 'Admin Last Name',
       'Admin License Number', 'Student Gender Code',
       'Student Race Ethnicity Derived', 'Student Hispanic Indicator',
       'Special Ed Status Code', 'Gifted Participation Code', 'Immigrant',
       'Food Program Participation Code', 'Section 504 Status', 'R3', 'W1',
       'W2', 'W4', 'W5', 'WD', 'WDO', 'WG', 'WC'],
      dtype='object')

In [4]:
df.shape

(285917, 39)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285917 entries, 0 to 285916
Data columns (total 39 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   District Name                    285917 non-null  object
 1   District Code                    285917 non-null  int64
 2   Location Organization Type Code  285912 non-null  object
 3   School Year                      285917 non-null  datetime64[ns]
 4   Student Grade Level              285917 non-null  object
 5   Infraction Event ID              285917 non-null  object
 6   Discipline Infraction Date       285917 non-null  datetime64[ns]
 7   Discipline Infraction Code       285917 non-null  object
 8   Discipline Infraction            285917 non-null  object
 9   Drug Related                     285917 non-null  object
 10  Alcohol Related                  285917 non-null  object
 11  Gang Related                     285917 non-null  object
 12  Hate Crime                       285917 non-null  object
 13  Serious Injury                   285917 non-null  object
 14  Criminal Charge Code             285223 non-null  object
 15  Repeat Offender                  285917 non-null  object
 16  Discipline Response Code         284202 non-null  float64
 17  Discipline Response              284202 non-null  object
 18  Discipline Response Duration     280451 non-null  float64
 19  Admin First Name                 28 non-null      object
 20  Admin Last Name                  28 non-null      object
 21  Admin License Number             28 non-null      float64
 22  Student Gender Code              285917 non-null  object
 23  Student Race Ethnicity Derived   285917 non-null  object
 24  Student Hispanic Indicator       285917 non-null  object
 25  Special Ed Status Code           285917 non-null  object
 26  Gifted Participation Code        285917 non-null  object
 27  Immigrant                        285917 non-null  object
 28  Food Program Participation Code  285917 non-null  object
 29  Section 504 Status               252849 non-null  object
 30  R3                               283304 non-null  object
 31  W1                               283304 non-null  object
 32  W2                               283304 non-null  object
 33  W4                               283304 non-null  object
 34  W5                               283304 non-null  object
 35  WD                               283304 non-null  object
 36  WDO                              283304 non-null  object
 37  WG                               283304 non-null  object
 38  WC                               283304 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(33)
memory usage: 85.1+ MB

In [6]:
df.isnull().sum()

District Name                           0
District Code                           0
Location Organization Type Code         5
School Year                             0
Student Grade Level                     0
Infraction Event ID                     0
Discipline Infraction Date              0
Discipline Infraction Code              0
Discipline Infraction                   0
Drug Related                            0
Alcohol Related                         0
Gang Related                            0
Hate Crime                              0
Serious Injury                          0
Criminal Charge Code                  694
Repeat Offender                         0
Discipline Response Code             1715
Discipline Response                  1715
Discipline Response Duration         5466
Admin First Name                   285889
Admin Last Name                    285889
Admin License Number               285889
Student Gender Code                     0
Student Race Ethnicity Derived          0
Student Hispanic Indicator              0
Special Ed Status Code                  0
Gifted Participation Code               0
Immigrant                               0
Food Program Participation Code         0
Section 504 Status                  33068
R3                                   2613
W1                                   2613
W2                                   2613
W4                                   2613
W5                                   2613
WD                                   2613
WDO                                  2613
WG                                   2613
WC                                   2613
dtype: int64

### Dropping the columns that have almost all missing values

In [7]:
df = df.drop(columns=['Admin First Name', 'Admin Last Name', 'Admin License Number'])

In [8]:
df.isnull().sum()

District Name                          0
District Code                          0
Location Organization Type Code        5
School Year                            0
Student Grade Level                    0
Infraction Event ID                    0
Discipline Infraction Date             0
Discipline Infraction Code             0
Discipline Infraction                  0
Drug Related                           0
Alcohol Related                        0
Gang Related                           0
Hate Crime                             0
Serious Injury                         0
Criminal Charge Code                 694
Repeat Offender                        0
Discipline Response Code            1715
Discipline Response                 1715
Discipline Response Duration        5466
Student Gender Code                    0
Student Race Ethnicity Derived         0
Student Hispanic Indicator             0
Special Ed Status Code                 0
Gifted Participation Code              0
Immigrant                              0
Food Program Participation Code        0
Section 504 Status                 33068
R3                                  2613
W1                                  2613
W2                                  2613
W4                                  2613
W5                                  2613
WD                                  2613
WDO                                 2613
WG                                  2613
WC                                  2613
dtype: int64

### Looking at some more nulls

In [9]:
print(df['Criminal Charge Code'].value_counts())

# Counting the number of nulls
print(df['Criminal Charge Code'].isnull().sum())

N    269048
Y     16149
0        26
Name: Criminal Charge Code, dtype: int64
694

# After Removing All Nulls

## One Hot Encode Columns

### Turn 55U, 55P, 55D, all into 55

## Plotting Some of the Data
### Checking for any correlation

### Note that even if it looks like hispanics have the highest infraction rate, you should look at the number of students who are hispanics, and instead of plotting the students, take the ratio - Might have to check the enrollment spreadsheet for this

#### Most of the school is likely hispanic students

# NOTES
## Maybe start with just a subset of the original dataset - like just a paticular school

## Try to see if a certain race has a longer punishment duration

## Use some of the algorithms we've looked at so far:
### A Tree algorithm may work really good

In [10]:
gwalker = pyg.walk(df)